<div class="container flex-vertical height-100">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="container app-body">
        <div class="main-item menu">
            menu
        </div>
        <div *ngIf='currentNews' class="main-item main-data">
            <app-news-data></app-news-data>
        </div>
        <div [ngClass]="currentNews ? 'list-minimized' : 'list-maximized'" class="main-item news-list">
            <app-news-list></app-news-list>
        </div>
    </div>
</div>